torch==2.7.1+cpu
torchvision==0.22.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu


pillow
pytesseract
pdfplumber
langchain
langgraph
langdetect
transformers
dotenv
# torch
python-multipart
fastapi
uvicorn